
$theme-colors: (
  'primary': #0b233f,
  'primary-1': #19356a,
  'secondary': #339698,
  'tertiary': #e8513e,
  'quaternary': #eee23e,
);
$font-family-base: 'Comic Neue', cursive;
$enable-rounded: true;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-print-styles: false;
$bv-enable-table-stacked: true;
$body-bg: #4c679d;

// BOOTSTRAP VARIABLES DECLARED ABOVE
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';
@import 'vue-multiselect/dist/vue-multiselect.min.css';
@import 'vue-multiselect-listbox/dist/vue-multi-select-listbox.css';
// OVERRIDES BELOW
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90vw;
  &__back-btn {
    position: absolute;
    transform: translate(-75%, -50%);
    z-index: 10;
    background: #0c223c;
  }
}
.better-card {
  border-radius: 0.5em;
  box-shadow: 0 0 2em rgba(12, 34, 60, 1.00),
              0 0.5em 5em rgba(30, 83, 83, 1.00);
}
.better-input {
  border: 2px solid #82c9c9;
  border-radius: 0.75em;
  background-color: #dee7ed;
  transition: all 200ms linear;
  &.is-invalid {
    border-color: #de0333;
  }
  &:focus {
    box-shadow: 0 0 0 2px #82c9c9,
                0 0.625em 0 0 #1e5353;
    border-color: #339698;
    background-color: #fff;
    transform: scale(1.01);
  }
}
